.kippp{
    display: flex;
    background-color: #1C1E45;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    flex-direction: column;
    height: 100%;
}

.openSequence{
    background-color: #F80469;
    padding: 0.5em;
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    opacity: 70%;
    transition: 0.3s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 2;

    &:hover{
        cursor: pointer;
        translate: 0 8%;
        transition: 0.3s ease-in-out;
    }
}

#lvl1{
    left: 35%;
    top: 7%;
}
#lvl2{
    right: 10%;
    top: 60%;
}
#lvl3{
    right: 23%;
    top: 15%;
}
#lvl4{
    right: 23%;
    top: 88%;
}

.icon{
    position: absolute;
    width: 3.5em;
    transition: 0.5s ease-in-out;
}

#ico1{
    top: 35%;
    left: 13%;
}

#ico2{
    top: 26%;
    right: 40%;
}

#ico3{
    top: 40%;
    right: 19%;
}

#ico4{
    top: 32%;
    left: 23%;
}

#ico5{
    top: 42%;
    left: 44%;
}

#ico6{
    top: 57%;
    left: 24.5%;
}

#ico7{
    top: 13%;
    right: 13%;
}

#ico8{
    top: 24%;
    left: 45%;
}

#ico9{
    top: 54%;
    left: 31%;
}

#ico10{
    top: 46%;
    left: 53%;
}

#ico11{
    top: 20%;
    right: 18%;
}

#ico12{
    top: 46%;
    left: 18%;
}

#ico13{
    top: 34%;
    right: 43%;
}

#ico14{
    top: 42%;
    right: 28%;
}

.range{
    width: 20em;
    height: 0.5em;
    -webkit-appearance: none; 
    appearance: none;
    background: #7F7EA0;
    border-radius: 1em;
    outline: none;
    margin: 2em 0 2em 0;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1.5em; 
        height: 1.5em; 
        background: #F80469; 
        border-radius: 2em;
        cursor: pointer;
    }
}

.imageContainer{
    display: flex;
    justify-content: center;
    width: 50em;
    height: fit-content;
    position: relative;
    margin-top: 1em;
}

.map{
    width: 100%;
}

.mapTitle{
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.videoContainer{
    background-color: #1C1E45;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.video{
    max-width: 100%;
    max-height: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1C1E45;
    z-index: 3;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    color: white;
    text-align: center;
}

.heading{
    font-size: 2em;
    font-weight: bold;
}

.description{
    font-size: 1.2em;
    line-height: 2em;
}

.next{
    background-color: #F80469;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 0.8em;
    font-weight: bold;
    margin-top: 1em;
    transition: translate 0.3s ease-in-out;
    border-radius: 2em;

    &:hover{
        cursor: pointer;
        translate: 0 8%;
        transition: translate 0.3s ease-in-out;
    }
}