.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    font-weight:600;
    color: black;
    background-color: #1C1E45;
    overflow: hidden;
    height: 100%;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:end;
    flex-wrap: wrap;
    max-height: 12.8em;
    animation: 1.5s slide-in-left ease-in-out;
    
}

.button{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 0.69em;
    margin: 0.8em 0 0.8em 0;
    background-color: #F80469;
    color: white;
    transition: 0.3s ease-in-out;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;

    &:hover{
        translate: -0.6em;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
}

.logo{
    position: relative;
    width: 18em;
    animation: 1.5s slide-in-right ease-in-out;
}

.p{
    
    rotate: 33.3deg;
    width: 0.52em;
    display: flex;
    position: absolute;
    font-size: 5.5em;
    top: 0.1em;
    right: 0.1em;
    animation: 1.5s rotate ease-out;
}

#questionMark{
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 1.4em;
    margin: 0.8em 0 0.8em 1.4em;
    padding: 0.49em;

    &:hover{
        translate: 0 -0.6em;
    }
}

.calc{
    width: 100%;
}

@keyframes rotate {
    0%{
        rotate: 0deg;
        translate: -0.13em -0.09em;
    }
    60%{
        rotate: 0deg;
        translate: -0.13em -0.09em
    }
    100%{
        rotate: 0;
        translate: 0 ;
    }

}

@keyframes slide-in-left {
    0%{
        translate: -50vw;
    }
    60%{
        translate: 0;
    }
    70%{
        translate: -0.5vw;
    }
    80%{
        translate: 0;
    }
}

@keyframes slide-in-right {
    0%{
        translate: +50vw;
    }
    60%{
        translate: 0;
    }
    70%{
        translate: +0.5vw;
    }
    80%{
        translate: 0;
    }
}