.homeMenu{
    background-color: #F80469;
    color: white;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    position: absolute;
    left: 0;
    font-family: Helvetica, sans-serif;
    height: 2.3em;
    width: 2.3em;
    top: 2em;
    left: 1.8em;
    -webkit-text-stroke: 0.3em white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    padding: 0 0.1em 0.1em 0;

    &:hover{
        cursor: pointer;
        translate: 0 8%;
        transition: 0.3s ease-in-out;
    }
}